---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      Curriculum Vitae
    </h1>
  </header>

  <article>
    <div class="cv">
      {% for entry in site.data.cv %}
        {% if entry.type == 'pdf' %}
          {% for content in entry.contents %}
            <div class="card mt-3 p-3">
              <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
              <p>{{ content.description }}</p>
              <a
                href="{{ content.file }}"
                target="_blank"
                rel="noopener noreferrer"
                class="btn btn-primary"
              >
                <i class="fa-solid fa-file-pdf"></i> Download PDF
              </a>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </article>
</div>
